{{ define "main" }}

{{ partial "navigation.html" . }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 text-center">
        <h2>{{ .Title }}</h2>
      </div>
      <div class="border-meghna" style="padding-bottom: 20px;"></div>
      <div class="col-lg-10 offset-lg-1">
        <div class="post-single-content" style="color: #afbac4;">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
