.navbar-container {
    max-width: 100%;
}

.hero-area {
  background-position: center;
}

.splash {
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 400px;
}

.bands {
    background-size: cover; 
    background-position: top center; 
    background-repeat: no-repeat; 
    height: calc(100vw * 224 / 1666);
    padding: 0;
}

.bands:hover {
    transform: scale(1.05);
    transition: all .5s;
}

.bands span {
    display: none;
    background-color: #0008;
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px;
    padding-top: 80px;
    font-weight: 800;
    color: #fff;
    text-align: center;
    font-size: xx-large;
}

.bands:hover span {
    display: block;
}

@media (max-width: 991px) {
    .bands {
        background-size: cover; 
        background-position: top center; 
        background-repeat: no-repeat; 
        height: calc(100vw * 224 / 750);
    }

    .splash {
        background-size: contain;
        background-position: 50% 0;
        background-repeat: no-repeat;
        min-height: calc(100vw*526/985);
    }
}

 .small-box {
    padding: 5px;
    display: inline;
 }