.navbar-container {
    max-width: 100%;
}

.hero-area {
  background-position: center;
}

h1 {
    text-transform: none !important;
}

.splash {
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 400px;
}

.bands {
    background-size: cover; 
    background-position: top center; 
    background-repeat: no-repeat; 
    height: calc(100vw * 224 / 2016);
    padding: 0;
}

.bands:hover {
    transform: scale(0.95);
    transition: all .5s;
}

.bands a span {
    display: none;
    background-color: #0008;
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px;
    padding-top: 45px;
    font-weight: 800;
    color: #fff;
    text-align: center;
    font-size: x-large;
}

.bands:hover a span {
    display: block;
}

.small-box {
    padding: 5px;
    display: inline;
}

.border-meghna {
    border-top: 1px solid #88888844 !important;
    height: 1px;
    margin: 15px auto 0;
    position: relative;
    width: 94% !important;
}


.call-to-action p {
    color: #999995;
}

.price-title {
    padding: 30px 15px 20px;
}

.pricing li {
    padding: 10px 10px;
}

@media (max-width: 991px) {
    .bands {
        background-size: cover; 
        background-position: top center; 
        background-repeat: no-repeat; 
        height: calc(100vw * 224 / 750);
    }

    .splash {
        background-size: contain;
        background-position: 50% 0;
        background-repeat: no-repeat;
        min-height: calc(100vw*526/395);
    }

    .bands a span {
        display: block;
        padding-top: 40px;
    }

    body {
        font-size: 90%;
    }

    h1 {
        font-size: 70px !important;
    }

    .hero-area .block p {
        font-size: 18px !important;
    }

    .hero-area .block .btn-transparent {
        font-size: 16px !important;
        padding: 12px 40px;
        margin-top: 30px;
    }

    .call-to-action p {
        font-size: 14px;
    }

    .bands-photo {
        min-height: calc(100vw * 400/700);
    }
}


@media (max-width: 769px) {
    body {
        font-size: 80%;
    }

    h1 {
        font-size: 60px  !important;
    }

    .hero-area .block p {
        font-size: 16px !important;
    }

    .hero-area .block .btn-transparent {
        font-size: 14px !important;
        padding: 8px 30px;
        margin-top: 25px;
    }

    .call-to-action p {
        font-size: 13px;
    }
}

@media (max-width: 576px) {
    body {
        font-size: 75%;
    }

    h1 {
        font-size: 40px !important;
        margin: 0px 25px;
    }

    .hero-area .block p {
        font-size: 14px !important;
    }

    .hero-area .block .btn-transparent {
        font-size: 12px !important;
        padding: 6px 20px;
        margin-top: 15px;
    }

    .call-to-action p {
        font-size: 12px;
    }
}

.gallery-thumbnail {
    padding: 15px;
}