{{ $data := index site.Data site.Language.Lang }}

{{ if $data.despre.cta.enable}}
{{ with $data.despre.cta}}
{{"<!-- Start Call To Action -->" | safeHTML}}
<section id="despre" class="call-to-action section-sm bg-1 overly" style='background-image: url("{{ .bg_image_webp | absURL }}")'>
	<!-- this image is for trigger this section fallback background image -->
	<img src="{{ .bg_image_webp | absURL }}" style="display: none;" onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url({{ .bg_image | absURL }})'">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 style="color:#afbac4">{{ .title | markdownify }}</h2>
				<div class="border-meghna" style="margin-bottom: 40px"></div>
				<p>{{ .content1 | markdownify }}</p>
				<p>{{ .content2 | markdownify }}</p>
				<p>{{ .content3 | markdownify }}</p>
				{{ if .button.enable }}
				{{ with .button }}
				<a href="{{ .link }}" class="btn btn-main page-scroll">{{ .label }}</a>
				{{ end }}
				{{ end }}
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="small-box">
					<div class="row">
						<div class="col-lg-12">
							<div class="media">
								{{with .location_icon}}
								<div class="align-self-start mr-3">
									<i class="{{ . }}" style="font-size: 200%;"></i>
								</div>
								{{ end }}
								<div class="media-body">
									<h4 class="media-heading">{{ .location_title | safeHTML }}</h4>
									<div class="border-meghna" style="margin-bottom: 20px"></div>
									{{ range .location_info }}
										<div class="con-info clearfix">
											<i class="{{ .icon }}"></i>
											<span>{{ .info | safeHTML}}</span>
										</div>
									{{ end }}
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							bibi
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="small-box">
					<div class="row">
						<div class="col-lg-12">
							<div class="media">
								{{with .bands_icon}}
								<div class="align-self-start mr-3">
									<i class="{{ . }}" style="font-size: 200%;"></i>
								</div>
								{{ end }}
								<div class="media-body">
									<h4 class="media-heading">{{ .bands_title | safeHTML }}</h4>
									<div class="border-meghna" style="margin-bottom: 20px"></div>
									{{ range .bands_info }}
										<div class="con-info clearfix">
											<i class="{{ .icon }}"></i>
											<span>{{ .info | safeHTML}}</span>
										</div>
									{{ end }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="small-box">
					<div class="row">
						<div class="col-lg-12">
							<div class="media">
								{{with .program_icon}}
								<div class="align-self-start mr-3">
									<i class="{{ . }}" style="font-size: 200%;"></i>
								</div>
								{{ end }}
								<div class="media-body">
									<h4 class="media-heading">{{ .program_title | safeHTML }}</h4>
									<div class="border-meghna" style="margin-bottom: 20px"></div>
										{{ range .program_info }}
										<div class="con-info clearfix">
											<i class="{{ .icon }}"></i>
											<span>{{ .info | safeHTML}}</span>
										</div>
									{{ end }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" id="workshop">
			<div class="col-lg-12">
				<div class="media">
					{{with .workshop_icon}}
						<div class="align-self-start mr-3">
							<i class="{{ . }}" style="font-size: 200%;"></i>
						</div>
					{{ end }}
					<div class="media-body">
						<h4 class="media-heading">{{ .workshop_title | safeHTML }}</h4>
						<div class="border-meghna" style="margin-bottom: 20px"></div>
						<div class="row">
							<div class="col-lg-4">
								{{ range .workshop_info1 }}
										<div class="con-info clearfix">
											<span>{{ .info | safeHTML}}</span>
										</div>
								{{ end }}
							</div>	

							<div class="col-lg-4">
								{{ range .workshop_info2 }}
										<div class="con-info clearfix">
											<span>{{ .info | safeHTML}}</span>
										</div>
								{{ end }}
							</div>

							<div class="col-lg-4">
								{{ range .workshop_info3 }}
										<div class="con-info clearfix">
											<span>{{ .info | safeHTML}}</span>
										</div>
								{{ end }}
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{{"<!-- Start Services Section -->" | safeHTML}}
{{ end }}
{{ end }}
