{{ $lightboxCSS := resources.Get "css/lightbox.min.css" | minify }}
<link rel="stylesheet" href="{{ $lightboxCSS.Permalink }}">

{{ $jQueryJS := resources.Get "js/jquery.min.js" | minify }}
<script src="{{ $jQueryJS.Permalink }}"></script>

{{ $lightboxJS := resources.Get "js/lightbox.min.js" | minify }}
<script src="{{ $lightboxJS.Permalink }}"></script>

{{ $image := (.Page.Resources.ByType "image") }}
{{ with $image }}
    {{ range . }}
    {{ $resized := .Fill "150x115 q20" }}
    <a href="{{ .Permalink }}" data-lightbox="x"><img src="{{ $resized.Permalink }}" class="gallery-thumbnail" /></a>
    {{ end }}
{{ end }}
